/* GENERAL */

body {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    margin: auto;
}

.img_h3, strong, .round, #liseret h4 {
    color: #edb83d;
}

.fas fa-briefcase {
    font-size: 40px; 
}

h3, #soulign {
    border-bottom: 1px solid #edb83d;
}

h1, h3, h4, h5 {
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 35px;
    margin-top: 0;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 25px;
    padding-bottom: 10px;
    margin: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    margin-bottom: 0;
}

h1, h2 {
    margin-left: 4%;
}

/* LISERET */

#liseret img {
    width: 45%;
    clip-path:ellipse(50% 40%);
    align-self: center;
}

#liseret {
    background-color: #edb83d;
    display: flex;
    flex-direction: column;
    width: 550px;
}

#liseret h4 {
    background-color: #000b29;
    padding: 10px;
    text-align: center;
}

#liseret p {
    margin-left: 15px;
}

#propos {
    margin: 10px;
    text-align: justify;
}

#bloc_1 {
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
}

.loisir_img {
    border: 2px solid black;
    border-radius: 50px;
    padding: 15px;
    margin: 10px;
}

#img_loisir {
    text-align: center;
}
/* PRINCIPAL */



.lieu {
    width: 25%;
}

.img_h3 {
    margin-right: 15px;
    font-size: 30px;
}

.sous_titre {
    margin-top: 5px;
}

.round {
    font-size: 10px;
    padding-top: 15px;
    margin-right: 8px;
    margin-left: 15px;
}

.round, .lieu {
    margin-top: 35px;
}

#formation {
    margin-top: 80px;
}

.flex_principal {
    display: flex;
}

.detail {
    margin-left: 35px;
}

.flex_recommandation {
    display: flex;
    justify-content: space-around;
}




/*                                  RESPONSIVE                                             */




/* SMARTPHONE */

@media screen and (max-width: 767px) {
    
body {
    flex-direction: column;
    margin: 0;
}

p {
    text-align: justify;
    
}

#img_loisir, h1, h2, #liseret p {
    text-align: center;
}

h3 {
    font-size: 19.5px;
}

h5 {
    font-size: 18px;
}

h3, .detail, .flex_recommandation {
    margin: 15px;
}

/* LISERET */

#liseret img {
    width:200px;
}

#liseret {
    width: 100%;
}

/* PRINCIPAL */

.lieu {
    text-align: center;
    margin-top: 0;
    background-color: #edb83d;
    width: auto;
}

h5 {
    margin-top: 15px;
}

.round {
    display: none;
}

.flex_principal {
   display: flex;
   flex-direction: column;
}

.flex_recommandation {
    flex-direction: column;
}

}





/* TABLETTES */

@media(min-width: 768px) and (max-width: 1023px) {
    
    body {
        flex-direction: column;
        
    }
    
    p {
        text-align: justify;
    }
    
    #img_loisir, h1, h2, #liseret p {
        text-align: center;
    }
    
    h3 {
        font-size: 19.5px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    
    
    /* LISERET */
    
    #liseret img {
        width:200px;
    }
    
    #liseret {
        width: 100%;
    }
    
    /* PRINCIPAL */
    
    .flex_principal {
        margin: 15px;
    }

    .lieu {
        width: 75%;
        margin-right: 15px;
    }

    .detail {
        padding-left: 15px;
        margin-left: 0;
        margin-right: 15%;
        width: 450px;
    }
    
    h5 {
        margin-top: 15px;
    }
    
    h3, .flex_recommandation  {
        margin: 15px;
    }

    }



    /* 4K */


    @media screen and (min-width: 1600px) {
        #principal {
            margin-right: 30%;
        }
    }