/* GENERAL */

body {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    margin: auto;
}

.img_h3, strong, .round, #liseret h4 {
    color: #edb83d;
}

.fas fa-briefcase {
    font-size: 40px; 
}

h3, #soulign {
    border-bottom: 1px solid #edb83d;
}

h1, h3, h4, h5 {
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 35px;
    margin-top: 0;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    margin-bottom: 0;
}

/* LISERET */

#liseret img {
    width: 250px;
    clip-path:ellipse(50% 40%);
    align-self: center;;
}

#liseret {
    background-color: #edb83d;
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

#liseret h4 {
    background-color: #000b29;
    padding: 10px;
    text-align: center;
}

#liseret p {
    margin-left: 15px;
}

#propos {
    margin: 10px;
    text-align: justify;
}

#bloc_1 {
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
}

.loisir_img {
    border: 2px solid black;
    border-radius: 50px;
    padding: 8px;
}

#img_loisir {
    padding: 20px;
    
}
/* PRINCIPAL */

#principal {
    margin-right: 50px;
    margin-left: 15px;
}

.lieu {
    width: 150px;
}

.img_h3 {
    margin-right: 15px;
    font-size: 30px;
}

.sous_titre {
    margin-top: 5px;
}

.round {
    font-size: 10px;
    padding-top: 15px;
    margin-top: 5px;
    margin-right: 8px;
}

.round, .lieu {
    margin-top: 35px;
}

#formation {
    margin-top: 80px; /* comment séparer les deux sans margin ? */
}

/* Comment séparer le lieu et la formation en utilisant flexbox ? (.flex ; .detail) */

.flex {
    display: flex;
}

.detail {
    margin-left: 35px;
}

.flex_1 {
    display: flex;
    justify-content: space-around;
}











/*                                  RESPONSIVE                                             */













/* SMARTPHONE */

@media screen and (max-width: 767px) {
    
body {
    flex-direction: column;
}

p {
    text-align: justify;
}

#img_loisir, h1, h2, #liseret p {
    text-align: center;
}

h3 {
    font-size: 19.5px;
}

h5 {
    font-size: 18px;
}

/* LISERET */

#liseret img {
    width:200px;
}

/* PRINCIPAL */

.lieu {
    width: 40px;
    margin-right: 15px;
}

h5 {
    margin-top: 15px;
}

}